---
import Layout from '../../layouts/Layout.astro'
import FilePreview from '../../components/FilePreview.astro'
import Details from '../../components/Details.astro'
import { programData } from '../../data'

export async function getStaticPaths() {
  return programData.map(program => ({
    params: { id: program.id },
    props: { program },
  }));
}

const { id } = Astro.params
const { program } = Astro.props 
---

<Layout>
	<main class='flex flex-col items-center justify-center p-4 py-8'>
		
        <section class='flex w-full flex-col lg:w-4/5 xl:w-4/5 items-center justify-center rounded bg-(--color-surface) p-4 shadow-2xl '>
			<img id='program-preview' class='m-4 w-4/5 rounded-md shadow-2xl md:w-3/5' src='/nord.png' />

			<div class='flex w-full flex-col items-center justify-between gap-4 p-4 md:flex-row'>
				<h1 id='program-title' class='betweenplace-content-center flex rounded bg-(--color-base) p-4 text-6xl text-(--color-text) shadow-2xl max-[400px]:m-2 max-[400px]:text-4xl'>
					<img src=`/${program.icon}` class='w-16 p-1 pr-4' />
					{program.id}
				</h1>
				<a target='_blank' href='https://github.com/linuxthemes/base' aria-label='Manual' class='button flex w-fit cursor-pointer place-content-center items-center gap-[1ch] rounded-md bg-(--color-base) px-4 py-2 font-bold text-(--color-text) shadow-xl transition duration-300 hover:bg-(--color-green) hover:text-(--color-text)'>
					<img class='h-6 w-6' src='/linuxthemes.png' />
					<span>Get Theme</span>
				</a>
			</div>

			<div class='flex w-full flex-col gap-4 p-4 md:flex-row md:justify-between'>
				<Details program={program} />
				
                <div class='flex flex-col gap-4 md:w-21/32'>
					<div id='program-description' class='flex flex-col rounded bg-(--color-base) p-4 text-lg text-(--color-text) shadow-2xl'>
						{program.description}
					</div>

					<FilePreview program={program} />
				</div>

			</div>
		</section>
	
    </main>
</Layout>
